<h1><%= @song.name %></h1>

<h2><%= link_to @song.artist.name, @song.artist %></h2>
<% if @song.good_for_mood then %>
  <p> "mood booster :)" </p>
<% else %>
  <p> "mood looser :(" </p>
<% end %>
<h3><%= link_to "Songs index", root_path %><h3> <!--actually, you can send it to any
                                            path with the path name that you see when
                                            you do 'rake routes' in the terminal-->
<h3><%= link_to "Artist index", artists_path %><h3>
